[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/plugged/deoplete.nvim"]
	path = .vim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/plugged/zchee/jedi"]
	path = .vim/plugged/zchee/jedi
	url = https://github.com/zchee/deoplete-jedi.git          
[submodule ".vim/plugged/zchee/clang"]
	path = .vim/plugged/zchee/clang
	url = https://github.com/zchee/deoplete-clang.git      
[submodule ".vim/plugged/deoplete-go"]
	path = .vim/plugged/deoplete-go
	url = https://github.com/zchee/deoplete-go.git
[submodule ".vim/plugged/vim-airline/vim-themes"]
	path = .vim/plugged/vim-airline/vim-themes
	url = https://github.com/vim-airline/vim-airline-themes.git      
[submodule ".vim/plugged/907th/auto-save"]
	path = .vim/plugged/907th/auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule ".vim/plugged/syntastic/syntastic"]
	path = .vim/plugged/syntastic/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/neomake/neomake"]
	path = .vim/neomake/neomake
	url = https://github.com/neomake/neomake.git
[submodule ".vim/plugged/neogdb.vim"]
	path = .vim/plugged/neogdb.vim
	url = https://github.com/huawenyu/neogdb.vim.git
[submodule ".vim/plugged/vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/plugged/fatih/go.git"]
	path = .vim/plugged/fatih/go.git
	url = https://github.com/fatih/vim-go.git                                     
[submodule ".vim/plugged/auto-pairs"]
	path = .vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/scrooloose/nerdtree"]
	path = .vim/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/plugged/Xuyuanp/git-plugin"]
	path = .vim/plugged/Xuyuanp/git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/plugged/wpgtk.vim"]
	path = .vim/plugged/wpgtk.vim
	url = https://github.com/deviantfero/wpgtk.vim.git
