! special
*.foreground:   #dcf0f0
*.background:   #002b36
*.cursorColor:  #dcf0f0

! black
*.color0:       #073642
*.color8:       #526160

! red
*.color1:       #dc322f
*.color9:       #cb3b16

! green
*.color2:       #859900
*.color10:      #569152

! yellow
*.color3:       #b58900
*.color11:      #bfae3f

! blue
*.color4:       #268bd2
*.color12:      #5dabb2

! magenta
*.color5:       #d33682
*.color13:      #b176ba

! cyan
*.color6:       #2aa198
*.color14:      #3bc3c3

! white
*.color7:       #eee8d5
*.color15:      #fdf6e3

Xcursor.size: 24
